{% extends "layout.html" %}

{% block title %}
    About ComeThru
{% endblock %}

{% block main %}
    <h1>What is ComeThru?</h1>
    <p>
        <b>ComeThru is a website designed for you to find an event near you when you are feeling spontaneous and looking for something to do.</b><br>
        <b>Because we want to disrupt the systems that structure our lives, each event will only be visible for 24 hours before it is deleted.</b><br>
        <b>By doing this, we want to ensure that you don't have to fret about planning or other boring stuff.</b><br>
        <b>All you have to do is pick an event that sounds fun and ComeThru!</b><br>
    </p>
{% endblock %}